$dunkinBrand: #e49;
$dunkinBrandOver: #1F429B;

$category: #F0E0C6;

$completedGroup: #AEE874;
$inprogressGroup: #E8DC74;
$zeroGroup: #E8E8E8;
$naGroup: #E8E8E8;

$inprogressGroupSummary: #CFBA00;
$completedGroupSummary: #60BF00;
$zeroGroupSummary: #BFBFBF;
$naGroupSummary: #BFBFBF;

$completedChildSummary: #AEE874;
$inprogressChildSummary: #E8DC74;
$zeroChildSummary: #E8E8E8;
$naChildSummary: #E8E8E8;

$completed: #D5FFAB;
$inprogress: #FFF7AB;
$zero: #FFF;
$na: #FFF;

$black: #000;
$orange: #FF8000;
$brown: #693900;
$lightbrown: #BE854C;

$blue: #3bbfce;
$margin: 16px;
